<div class="row">
  <section class="wrapperForm">
    <form name="signInForm" ng-submit="$ctrl.onSignIn()">
      <h5 class="center-align">Iniciar Sesión</h5>
      <div class="separator center-align">
        <h6>Si eres ciudadano, <a class="pointer" ng-click="$ctrl.goCitizen()">ingresa</a> al producto que deseas calificar e inicia sesión.</h6>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input type="email" name="email" ng-model="$ctrl.credentials.email" class="validate" required/>
          <label for="email" data-error="Ingresa un email válido" data-success="Ok">Email: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input type="password" name="password" ng-model="$ctrl.credentials.password" class="validate" required/>
          <label for="password">Contraseña: </label>
        </div>
      </div>
      
      <div class="row" ng-show="$ctrl.serverError">
        <p class="red-text text-darken-2 center-align">
          <i class="material-icons">error</i> {{$ctrl.errorMessage}}
        </p>
      </div>
      <div class="center-align row">
        <button type="submit" class="waves-effect waves-light btn-large" ng-class="{'display-none':$ctrl.loadding,'display-inline-block':!$ctrl.loadding}" ng-disabled="signInForm.$invalid">
          <i class="material-icons right">chevron_right</i>
          Entrar
        </button>
        <loader size="medium" ng-class="{'display-none':!$ctrl.loadding,'display-inline-block':$ctrl.loadding}"></loader>
      </div>
      <div class="separator center-align">
        <h6><a href="/forgot-password">¿Olvidaste tu contraseña?</a></h6>
        <span class="grey-text lighten-4">
          ¿Aún no tienes cuenta? <a href="/sign-up" class="pointer">Crear cuenta</a>
        </span>
      </div>
    </form>
  </section>
</div>
