@import '../../../colors.styl'

.profileEvaluator .title
    margin-bottom 0px
    z-index 5
    font-size 1.2em
    padding 10px

.profileEvaluator .title h3
    margin 5px 0px
    
.profileEvaluator .logo
    margin-top 0px
    padding-top 10px
    z-index 2

.profileEvaluator .tab
    font-size 1.2em
    min-height 60px
    color $brown
    cursor pointer
    text-align center
    width 25%
    float left

.profileEvaluator .tab div
    width 100%

.profileEvaluator .tab i
    margin-right 5px 

.profileEvaluator .tab.active
    border-bottom $brown solid
    color #000