@import '../../colors.styl'
requisite
    width 100%
    
.requisite .requisite-title
    padding-top 10px

.requisite .tips
    padding 15px
    position relative

.requisite .tips .tip
    position absolute
    right 0px
    width 500px
    padding 10px
    cursor initial

.requisite .lightgray
    background $lightgray

.requisite .content
    padding 10px
    height 160px
    overflow-y auto

.requisite .tips div
    cursor pointer

.requisite .bottom button
    margin-top 10px

.requisite 
    padding-bottom 10px

.requisite .action i
    font-size 40px