@import '../../../colors.styl'

.activity .activity-tabs
    margin-bottom 0px

.activity .activity-tabs .tab
    margin-bottom 0px

.activity .activity-tabs.mini .tab
    width: 20%

.activity .activity-content
    margin-top 0px

.activity .pager ul
    list-style-type none
    clear both
    padding 10px 10px
    margin 0px
    
.activity .pager ul li
    display inline
    cursor pointer
    padding 5px

.activity .pager ul li.page
    color rgba(255,255,255,0.6)

.activity .pager ul li.page.active
    color $white

.activity #certificate
    min-width 842px
    min-height 595px
    max-width 842px
    max-height 595px
    overflow hidden

.activity #certificate .certificate-content
    position absolute
    top 55px
    left 44px
    width 800px

.activity #certificate .certificate-content .title
    font-size 60px
    padding-bottom 0px
    line-height 60px
    color $lilac

.activity #certificate .certificate-content .subtitle
    font-size 32px
    line-height 32px
    margin-bottom 20px
    color $lilac

.activity #certificate .certificate-content .intro
    font-size 20px

.activity #certificate .certificate-content .pre
    font-size 16px

.activity #certificate .certificate-content .entity
    font-size 23px
    text-decoration underline

.activity #certificate .signature
    position absolute
    bottom 99px
    left 337px
    color $lilac
    font-size 16px

.activity #certificate .certification-date
    position absolute
    bottom 50px
    width 200px
    left 332px
.activity .activity-content
    padding-top 10px
.activity .search-label
    padding-top 13px
.activity .search a
    margin 5px
.activity .search input
    background $white
    border-radius 10px
    border solid 1px $lightgray
    margin 7px 0px
    height 35px
    line-height 35px
    padding 0px 5px

.activity #confirm .border
    border solid 1px $brown
    border-radius 10px

.activity #confirm .border i
    font-size 80px
    border: solid 4px
    border-radius 80px
    margin 5px

.activity #confirm .border .congratulations
    font-size: 40px

.activity #confirm .footer
    margin-bottom 20px

.activity #confirm .content
    padding 10px
    height 160px
    overflow-y auto