@import '../../../colors.styl'

.dataEvaluator .modal .border
    border solid 1px $brown
    border-radius 10px

.dataEvaluator .modal .border i
    font-size 80px
    border: solid 4px
    border-radius 80px
    margin 5px

.dataEvaluator .modal .border .congratulations
    font-size: 40px

.dataEvaluator .modal .footer
    margin-bottom 20px

.dataEvaluator .divider
    background-color $brown
    height 2px