@import '../../colors.styl'

.comment
    padding 5px
    margin 5px
.comment .title
    font-size 2em
.comment i
    font-size 40px
.comment
    border-bottom solid 1px $lightgray

.comment .content
    line-height 13px