<div class="row">
  <section class="wrapperForm">
    <form name="forgotPasswordForm " ng-submit="$ctrl.forgotPassword()">
      <div class="center-align">
      <h5>¿Haz olvidado tu contraseña?</h5>
      <small>Ingresa tu dirección de correo y en instantes te enviaremos las instrucciones para cambiar tu contraseña.</small>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input type="email" name="email" ng-model="$ctrl.email" class="validate" required/>
          <label for="email" data-error="Ingresa un email válido" data-success="Ok">Email: </label>
        </div>
      </div>
      <div class="center-align" style="margin-bottom:8px">
        <div  ng-if="$ctrl.error" ><span class="color-red">El usuario no existe</span></div>
        <button type="submit" 
          class="waves-effect waves-light btn-large" 
          ng-class="{'display-none':$ctrl.loading || $ctrl.finished,'display-inline-block':!$ctrl.loading && !$ctrl.finished}"
          ng-disabled="forgotPasswordForm.$invalid">
          <i class="material-icons right">vpn_key</i>
          Cambiar contraseña
        </button>
        <loader size="medium" ng-class="{'display-none':!$ctrl.loading,'display-inline-block':$ctrl.loading}"></loader>
        <span class="color-green" ng-if="$ctrl.finished">Se ha enviado una nueva contraseña a tu correo electrónico</span>        
        <button type="button" 
          ng-click="$ctrl.goHome()" 
          class="waves-effect waves-light btn-large brown" 
          ng-if="$ctrl.finished">
            Volver al sello
          </button>
      </div>
    </form>
  </section>
</div>
