
.detail .title
    margin-bottom 0px
    z-index 5
    font-size 1.2em

.detail .title h3
    margin 5px 0px
    
.detail .logo
    margin-top 0px
    padding-top 10px
    z-index 2

.detail .star
    position relative
    font-size 120px

.detail .star span
    display block
    width 111px
    height 120px
    font-family Univers
    font-size 30px
    position absolute
    top 0px
    left 0px
    text-align center
    line-height 120px

.detail .full-rate
    font-size: 2em

.detail .info
    margin 10px
    padding 20px
    min-height 260px
    font-size 1.2em

.detail .border
    margin 10px
    border solid 1px #000
    min-height 260px
.modal .title.brown i 
    font-size 1.5em