.categories
  margin-top 10px 
  display flex
  justify-content space-between
  align-items flex-start
  flex-wrap wrap

category-item
  display flex
  flex-grow 1 
  
@media screen and (max-width: 560px)

  .categories
    justify-content: center
