$gainsboro = #dbe4e4

$black = #000
$brown = #a42a5b
$brownOsucuro = #b34f75

$lightseagreen = #01b0b7
$lightseagreenOscuro = #01c8d0

$yellow = #ffc610
$lilac = #694a8b

$footergray = #b7caca

$darkgray = #5f676a
$lightgray = #9fa09f

$red = #f00
$green = #8cbb23
$white = #fff

$first = #edbd34
$second = #88909c
$third = #bc8029
$others = #bbc6d699