@import '../../../colors.styl'

.postulateEvaluator .modal .border
    border solid 1px $brown
    border-radius 10px

.postulateEvaluator .modal .border i
    font-size 80px
    border: solid 4px
    border-radius 80px
    margin 5px

.postulateEvaluator .modal .border .congratulations
    font-size: 40px

.postulateEvaluator .modal .footer
    margin-bottom 20px

.postulateEvaluator .search-label
    padding-top 13px
.postulateEvaluator .search a
    margin 5px
.postulateEvaluator .search input
    background $white
    border-radius 10px
    border solid 1px $lightgray
    margin 7px 0px
    height 35px
    line-height 35px
    padding 0px 5px

.postulateEvaluator .pager ul
    list-style-type none
    clear both
    padding 10px 10px
    margin 0px
    
.postulateEvaluator .pager ul li
    display inline
    cursor pointer
    padding 5px

.postulateEvaluator .search
    padding-top 10px

.postulateEvaluator .modal .content
    padding 10px
    height 160px
    overflow-y auto