@import '../../../colors.styl'

.service-evaluator .info
    display flex
    flex-flow row
    padding 10px
.service-evaluator .badge
    align-self center

.service-evaluator .badge img
    width 100px
    margin 5px
    margin-bottom 0px

.service-evaluator .badge .lightseagreen
    padding 5px

.service-evaluator .service-item-result
    padding 10px
    font-size 28px

.service-evaluator .service-item-content
    flex-grow 3
    margin-left 5px
    align-self center

.service-evaluator .service-item-content .color-brown
    font-size: 1.5em

.service-evaluator .service-item-content .brown
    padding-left 5px

.service-evaluator .service-item-content .gainsboro
    position relative
    padding-left 5px

.service-evaluator .service-item-content .action
    cursor pointer
    position absolute
    right 5px
    top 5px

.service-evaluator .service-item-content .action i
    font-size 40px

.service-evaluator .star
    position relative
    font-size 55px

.service-evaluator .star span
    display block
    width 52px
    height 55px
    font-family Univers
    font-size 14px
    position absolute
    top 0px
    left 0px
    text-align center
    line-height 55px

.service-evaluator .full-rate
    font-size: 1.2em

.service-evaluator .service-item-rate
    padding 5px 10px
    margin 0px 10px
    
.service-evaluator .border
    border solid 1px $brown
    border-radius 5px

.service-evaluator .requisites requisite
    margin 10px

.service-evaluator .requisites .btn-floating
    padding 0 25px
    height 50px
    margin 0 -25px

.service-evaluator .requisites .btn-floating i
    line-height 50px
.service-evaluator .requisites .btn-floating i.fa-chevron-right
    margin 0 -17px
.service-evaluator .requisites .btn-floating i.fa-chevron-left
    margin 0 -20px

.service-evaluator .modal .border
    border solid 1px $brown
    border-radius 10px

.service-evaluator .modal .border i
    font-size 80px
    border: solid 4px
    border-radius 80px
    margin 5px
    width 88px
    height 88px

.service-evaluator .modal .border .congratulations
    font-size: 38px
    padding 10px

.service-evaluator .modal .footer
    margin-bottom 20px

.g-recaptcha
    width 301px
    margin auto