
.service-item
    display flex
    flex-flow row

.service-item .badge .fame-icon
    width 60px
    height 70px
    margin 5px
    margin-bottom 0px
    background url('/assets/img/sell_gel.png')
    background-size contain
    background-position center
    background-repeat no-repeat

.service-item .badge .fame-icon.category-1.level-1
    background-image url('/assets/img/badges/datos abiertos 1.png')
.service-item .badge .fame-icon.category-1.level-2
    background-image url('/assets/img/badges/datos abiertos 2.png')
.service-item .badge .fame-icon.category-1.level-3
    background-image url('/assets/img/badges/datos abiertos 3.png')
.service-item .badge .fame-icon.category-2.level-1
    background-image url('/assets/img/badges/participacion1.png')
.service-item .badge .fame-icon.category-2.level-2
    background-image url('/assets/img/badges/participacion2.png')
.service-item .badge .fame-icon.category-2.level-3
    background-image url('/assets/img/badges/participacion3.png')
.service-item .badge .fame-icon.category-3.level-1
    background-image url('/assets/img/badges/servicios1.png')
.service-item .badge .fame-icon.category-3.level-2
    background-image url('/assets/img/badges/servicios2.png')
.service-item .badge .fame-icon.category-3.level-3
    background-image url('/assets/img/badges/servicios3.png')
.service-item .badge .fame-icon.category-4.level-1
    background-image url('/assets/img/badges/capacidades1.png')
.service-item .badge .fame-icon.category-4.level-2
    background-image url('/assets/img/badges/capacidades2.png')
.service-item .badge .fame-icon.category-4.level-3
    background-image url('/assets/img/badges/capacidades3.png')

.service-item .service-item-content
    flex-grow 3
    margin-left 5px

.service-item .service-item-content .content
    flex-grow 3

.service-item .service-item-content .brown
    padding-left 5px

.service-item .service-item-content .gainsboro
    position relative
    padding-left 5px
    display flex
    margin 0px

service-item .service-item-content .action
    cursor pointer
    margin 5px

.service-item .service-item-content .action i
    font-size 40px