
.embeded .title
    margin-bottom 0px
    z-index 5
    font-size 1.2em

.embeded .title h3
    margin 5px 0px
    
.embeded .logo
    margin-top 0px
    padding-top 10px
    z-index 2

.embeded .star
    position relative
    font-size 120px

.embeded .star span
    display block
    width 111px
    height 120px
    font-family Univers
    font-size 30px
    position absolute
    top 0px
    left 0px
    text-align center
    line-height 120px

.embeded .full-rate
    font-size: 2em

.embeded .info
    margin 10px
    padding 20px
    min-height 260px
    font-size 1.2em

.embeded .border
    margin 10px
    border solid 1px #000
    min-height 260px
.modal .title.brown i 
    font-size 1.5em

.embeded .badge .fame-icon
    width 130px
    height 130px
    margin auto
    margin-bottom 0px
    background url('/assets/img/sell_gel.png')
    background-size contain
    background-position center
    background-repeat no-repeat

.embeded .badge .fame-icon.category-1.level-1
    background-image url('/assets/img/badges/datos abiertos 1.png')
.embeded .badge .fame-icon.category-1.level-2
    background-image url('/assets/img/badges/datos abiertos 2.png')
.embeded .badge .fame-icon.category-1.level-3
    background-image url('/assets/img/badges/datos abiertos 3.png')
.embeded .badge .fame-icon.category-2.level-1
    background-image url('/assets/img/badges/participacion1.png')
.embeded .badge .fame-icon.category-2.level-2
    background-image url('/assets/img/badges/participacion2.png')
.embeded .badge .fame-icon.category-2.level-3
    background-image url('/assets/img/badges/participacion3.png')
.embeded .badge .fame-icon.category-3.level-1
    background-image url('/assets/img/badges/servicios1.png')
.embeded .badge .fame-icon.category-3.level-2
    background-image url('/assets/img/badges/servicios2.png')
.embeded .badge .fame-icon.category-3.level-3
    background-image url('/assets/img/badges/servicios3.png')
.embeded .badge .fame-icon.category-4.level-1
    background-image url('/assets/img/badges/capacidades1.png')
.embeded .badge .fame-icon.category-4.level-2
    background-image url('/assets/img/badges/capacidades2.png')
.embeded .badge .fame-icon.category-4.level-3
    background-image url('/assets/img/badges/capacidades3.png')