<div class="">
<div class="slider sliderone">
  <div class="absolute-left">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('prev')">keyboard_arrow_left</span>
  </div>
  <div class="absolute-right">
    <span class="material-icons arrow pointer" ng-click="$ctrl.changeSlider('next')">keyboard_arrow_right</span>
  </div>
  <ul class="slides">
    <li class="gainsboro">

      <!--div class="caption left-align">
        <section class="row center-align">
          <div class="col s12 m12 black-text">
            <img src="assets/img/banner.png" class="responsive-img full">
          </div>
        </section>
      </div-->
      
    </li>
    <!--li class="white">
      
    </li>
    
    <!-li class="white">
      <div class="caption left-align">
        <img src="assets/img/servicio_en_linea.png" class="slider-img left" title="servicio en linea">
        <h5 class="color-lightseagreen font-bold">Servicio en línea</h5>
        <p class="black-text">
          El Sello de Excelencia se otorgará a los trámites y servicios en línea de las entidades que cuenten, entre otras cosas con: disponibilidad en línea, seguridad, soporte al usuario y acceso por diferentes canales.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/gobierno_abierto.png" class="slider-img left" title="gobierno abierto">
        <h5 class="color-lightseagreen font-bold">Gobierno Abierto</h5>
        <p class="black-text">
          Para obtener el Sello de Excelencia en temas de Gobierno abierto, los conjuntos de datos abiertos y las plataformas de participación deben cumplir con características que propicien un gobierno transparente, abierto y participativo.
        </p>
      </div>
    </li>
    <li class="white">
      <div class="caption left-align">
        <img src="assets/img/capacidad_TI.png" class="slider-img left" title="capacidad TI">
        <h5 class="color-lightseagreen font-bold">Capacidades de Gestión de TI</h5>
        <p class="black-text">
          El Sello de Excelencia en Capacidades de gestión TI se otorgará cuando la entidad incorpore las capacidades institucionales y corporativas que aseguren un adecuado funcionamiento de sus recursos de TI.
        </p>
      </div>
    </li-->
  </ul>
</div>
</div>