<section class="container registerentity white z-depth-1 wrapper-margin-top-padding">
  <div class="row">
    <form class="col s10 m8 offset-s1 offset-m2" name="registerEntityForm" ng-submit="$ctrl.sendRegister()" novalidate>
      <h4 class="center-align color-brown">Registro de Entidades</h4>
      <p class="center-align grey-text">Los campos marcados con <strong class="red-text font-medium">*</strong> son obligatorios.</p>
      <span style="margin-left:-30px" class="font-bold color-lightseagreen">1° Información de la entidad.</span>
      <div class="row">
        <div class="col s12 m12">
          <div class="input-field">
            <autocomplete id="autocomplete-input" placeholder="Entidad" endpoint="$ctrl.institutionEndpoint" on-selected="$ctrl.selectedInstitution(item)"></autocomplete>
            <span class="font-bold color-brown">Si su entidad no se encuentra listada, por favor contacte al administrador al correo sellodeexcelencia@mintic.gov.co.</span>
          </div>
        </div>
        <div class="col m6 s12">
          <div class="input-field">
            <input id="entitynit" type="text" class="validate" ng-model="$ctrl.institution.nit"
              required>
            <label for="entitynit" data-error="Ingresa el Nit de la entidad" data-success="Ok">
                  <strong class="red-text">*</strong> Nit (con dígito de verificación):</label>
          </div>
        </div>
        <div class="col m6 s12">
          <div class="input-field">
            <input id="entityphone" type="text" class="validate" ng-model="$ctrl.institution.phone" required>
            <label for="entityphone" data-error="Ingresa el teléfono de la entidad" data-success="Ok">
                  <strong class="red-text">*</strong> Teléfono:</label>
          </div>
        </div>

        <div class="col m6 s12">
          <div>
              <label>Tipo de entidad:</label>
            <select ng-model="$ctrl.institution.id_institution_type">
                <option ng-value="{{type.id}}" ng-repeat="type in $ctrl.institutionTypes">{{type.name}}</option>
              </select>
            
          </div>
        </div>
        <div class="col m6 s12">
          <div class="input-field">
            <input id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="validate" ng-model="$ctrl.institution.email"
              required>
            <label for="email" data-error="Ingresa un correo válido" data-success="Ok"><strong class="red-text">*</strong> Correo electrónico de contacto:</label>
            <small class="blue-text"><strong>Nota:</strong> El correo ingresado debe ser un correo institucional.</small>
          </div>
        </div>

        <div class="col s12 m6">
          <div>
              <label>País:</label>
            <select ng-model="$ctrl.institution.id_country" ng-change="$ctrl.getRegions('institution')">
              <option ng-value="{{country.id}}" ng-repeat="country in $ctrl.countries">{{country.name}}</option>
            </select>
            
          </div>
        </div>
        <div class="col s12 m6">
          <div>
            <label>Región:</label>
            <select ng-model="$ctrl.institution.id_region" ng-change="$ctrl.getCities('institution')">
              <option ng-value="{{region.id}}" ng-repeat="region in $ctrl.institutionregions">{{region.name}}</option>
            </select>
          </div>
        </div>
        <div class="col s12 m6">
          <div>
            <label>Ciudad:</label>
            <select ng-model="$ctrl.institution.id_city">
              <option ng-value="{{city.id}}" ng-repeat="city in $ctrl.institutioncities">{{city.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.institution.id && !$ctrl.canRegister">
        <div class="col s12">
          <span class="font-bold color-brown">La entidad seleccionada ya se encuentra registrada, por favor contacte al administrador al correo sellodeexcelencia@mintic.gov.co.</span>
        </div>
      </div>
      <span style="margin-left:-30px" class="font-bold color-lightseagreen">1° Información del representante.</span>
      <div class="row" ng-if="$ctrl.institution.id && $ctrl.canRegister">
        <div class="col s12 m6">
          <div class="input-field">
            <input id="first_name" type="text" class="validate" ng-model="$ctrl.register.name" required>
            <label for="first_name" data-error="Ingresa tu nombre" data-success="Ok"><strong class="red-text">*</strong> Primer Nombre:</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input id="second_name" type="text" class="validate" ng-model="$ctrl.register.secondname">
            <label for="second_name" data-error="Ingresa tu segundo nombre" data-success="Ok">Segundo Nombre:</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input id="lastname" type="text" class="validate" ng-model="$ctrl.register.lastname" required>
            <label for="lastname" data-error="Ingresa tu primer apellido" data-success="Ok"><strong class="red-text">*</strong> Primer Apellido:</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input id="second_lastname" type="text" class="validate" ng-model="$ctrl.register.secondlastname">
            <label for="second_lastname" data-error="Ingresa tu segundo apellido" data-success="Ok"><strong class="red-text">*</strong> Segundo Apellido:</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input id="phone" type="text" class="validate" ng-model="$ctrl.register.phone" required>
            <label for="phone" data-error="Ingresa tu teléfono" data-success="Ok"><strong class="red-text">*</strong> Teléfono:</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input id="mobile" pattern="\d+$" type="text" class="validate" ng-model="$ctrl.register.mobile" required>
            <label for="mobile" data-error="Ingresa tu celulcar" data-success="Ok"><strong class="red-text">*</strong> Teléfono móvil:</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div>
              <label><strong class="red-text">*</strong> Tipo de documento:</label>
            <select ng-model="$ctrl.register.id_type_document"required>
              <option ng-value="{{typedoc.id}}" ng-repeat="typedoc in $ctrl.document_types">{{typedoc.name}}</option>
            </select>
            
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input id="numberType" type="text" class="validate" ng-model="$ctrl.register.document" required>
            <label for="numberType" data-error="Ingresa un número de identificación válido" data-success="Ok"><strong class="red-text">*</strong> Numero de documento:</label>
          </div>
        </div>

        <div class="col s12 m6">
          <div>
            <label>País:</label>
            <select ng-model="$ctrl.register.id_country" ng-change="$ctrl.getRegions()">
                <option ng-value="{{country.id}}" ng-repeat="country in $ctrl.countries">{{country.name}}</option>
            </select>
          </div>
        </div>
        <div class="col s12 m6">
          <div>
            <label>Región:</label>
            <select ng-model="$ctrl.register.id_region" ng-change="$ctrl.getCities()">
              <option ng-value="{{region.id}}" ng-repeat="region in $ctrl.registerregions">{{region.name}}</option>
            </select>
          </div>
        </div>
        <div class="col s12 m6">
          <div>
            <label>Ciudad:</label>
            <select ng-model="$ctrl.register.id_city">
              <option ng-value="{{city.id}}" ng-repeat="city in $ctrl.registercities">{{city.name}}</option>
            </select>
          </div>
        </div>
        <div class="col m6 s12">
          <div class="input-field">
            <input id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="validate" ng-model="$ctrl.register.email"
              required>
            <label for="email" data-error="Ingresa un correo válido" data-success="Ok"><strong class="red-text">*</strong> Correo electrónico del representante:</label>
          </div>
        </div>

      </div>
      <div class="row">
        <input type="checkbox" id="terms" ng-model="$ctrl.register.terms" />
        <label for="terms">
          <a href="/assets/sello.pdf" target="_blank">
          <strong class="red-text">*</strong>
          Acepto los términos y condiciones</a>
        </label>
      </div>
      <div class="row center-align" ng-if="$ctrl.registryError">
        <span class="color-brown">{{$ctrl.registryMessage}}</span>
      </div>
      <div class="row center-align">
        <button type="submit" class="waves-effect waves-light btn-large brown" ng-disabled="registerEntityForm.$invalid || !$ctrl.register.terms || !$ctrl.canRegister">
          <i class="material-icons right">send</i>
          Registrar
        </button>
      </div>
      <div class="separator center-align">
        <span class="grey-text lighten-4">
            ¿Ya estas registrado? <a href="/sign-in" class="pointer">Inicia sesión</a>
          </span>
      </div>
    </form>
  </div>
  <a data-target='registered' modal open="$ctrl.openConfirmation"></a>
  <div id="registered" class="modal">
    <div class="modal-content center-align">
      <div class="border">
        <i class="fa fa-check color-green"></i><br>
        <span class="color-brown congratulations">Felicitaciones</span><br>
        <span class="color-lightseagreen">La entidad ha sido registrada exitosamente</span>
      </div>
    </div>
    <div class="center-align footer">
      <span>Hemos enviado un mensaje al correo electrónico registrado <br> confirmando los datos de registro</span>
      <br>
      <a class="btn brown modal-action modal-close" ng-click="$ctrl.next()">Cerrar</a>
    </div>
  </div>
</section>