@import '../../../colors.styl'

.advanceEntity .points
    border-bottom solid 1px $lightseagreen

.advanceEntity .points .point
    padding 0px
    min-height 200px

.advanceEntity .star
    position relative
    font-size 120px


.advanceEntity .star span
    display block
    width 102px
    height 120px
    font-family Univers
    font-size 30px
    position absolute
    top 0px
    left 0px
    text-align center
    line-height 120px
    text-decoration underline

.advanceEntity .color-points
    color #edeff0

.advanceEntity .star.users
    font-size 100px
    padding-top 10px
    padding-bottom 10px

.advanceEntity li
    list-style-type: circle !important;

.advanceEntity #certificate img
    width 100%

.advanceEntity #certificate .certificate-content
    position absolute
    width 100%
    top: 83px
    left: 0px

.advanceEntity a
    cursor pointer

.advanceEntity #lost .brown span
    padding 10px


.advanceEntity .pager ul
    list-style-type none
    clear both
    padding 10px 10px
    margin 0px
    
.advanceEntity .pager ul li
    display inline
    cursor pointer
    padding 5px

.advanceEntity .pager ul li.page
    color rgba(255,255,255,0.6)

.advanceEntity .pager ul li.page.active
    color $white