@import '../../../colors.styl'

.profileEntity .title
    margin-bottom 0px
    z-index 5
    font-size 1.2em
    padding 10px

.profileEntity .title h3
    margin 5px 0px
    
.profileEntity .logo
    margin-top 0px
    padding-top 10px
    z-index 2

.profileEntity .tab
    font-size 1.2em
    min-height 60px
    color $brown
    cursor pointer
    text-align center
    width 20%
    float left

.profileEntity .tab div
    width 100%

.profileEntity .tab i
    margin-right 5px 

.profileEntity .tab.active
    border-bottom $brown solid
    color #000