.learn .left
    border-right solid 1px

.learn .card
    padding-top 10px
    
.learn .featured
    margin 10px 

.learn .featured .brown
    padding 5px
    margin-bottom 5px

.learn .image img
    width 100%

.learn .learnitem
    cursor pointer

.learn .learnitem-content
    margin 10px
    height 100px
    align-items center

.learn .learnitem .image
    align-items center

.learn .pager ul
    list-style-type none
    clear both
    padding 10px 10px
    margin 0px
.learn .pager ul li
    display inline
    cursor pointer
    padding 5px
.learn .pager ul li.page
    color rgba(255,255,255,0.6)
.learn .pager ul li.page.active
    color $white
.learn iframe
    width 100%
    height 450px
    border none
    