.dataEntity .modal .border
    border solid 1px $brown
    border-radius 10px

.dataEntity .modal .border i
    font-size 80px
    border: solid 4px
    border-radius 80px
    margin 5px

.dataEntity .modal .border .congratulations
    font-size: 40px

.dataEntity .modal .footer
    margin-bottom 20px