<section class="white fame" style="margin-top:-3px">
    <div class="container">
        <div class="row lightseagreen">
            <div class="col s12 m12 white-text center-align brown">
            Salón de la Fama
            </div>
            <div class="col s6 m6 white-text center-align btn" 
                ng-class="{active:$ctrl.section == 'entities'}"
                ng-click="$ctrl.setSection('entities')">
                <span>Entidades</span>
                <i class="fa fa-building"></i>
            </div>
            <div class="col s6 m6 white-text center-align btn" 
                ng-class="{active:$ctrl.section == 'community'}"
                ng-click="$ctrl.setSection('community')">
                <span>Comunidad</span>
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="entities">
            <div class="title ">
                <span>{{$ctrl.title}}</span>
            </div>
            <div class="best">
                <fame-item class="big col s12 m12" ng-class="{pointer:$ctrl.section === 'entities'}" other="first" position="1" item="$ctrl.list[0]" go-to="$ctrl.goTo($ctrl.list[0])"></fame-item>
            </div>
            <div class="row">
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="second" position="2" item="$ctrl.list[1]" go-to="$ctrl.goTo($ctrl.list[1])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="third" position="3" item="$ctrl.list[2]" go-to="$ctrl.goTo($ctrl.list[2])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="4" item="$ctrl.list[3]" go-to="$ctrl.goTo($ctrl.list[3])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="5" item="$ctrl.list[4]" go-to="$ctrl.goTo($ctrl.list[4])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="6" item="$ctrl.list[5]" go-to="$ctrl.goTo($ctrl.list[5])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="7" item="$ctrl.list[6]" go-to="$ctrl.goTo($ctrl.list[6])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="8" item="$ctrl.list[7]" go-to="$ctrl.goTo($ctrl.list[7])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="9" item="$ctrl.list[8]" go-to="$ctrl.goTo($ctrl.list[8])">
                </fame-item>
                <fame-item class="col m6 s12" ng-class="{pointer:$ctrl.section === 'entities'}" other="others" position="10" item="$ctrl.list[9]" go-to="$ctrl.goTo($ctrl.list[9])">
                </fame-item>
            </div>
        </div>
    </div>
</section>