@import '../../colors.styl'

@font-face
    font-family Univers;
    src url("../../assets/font/UniversCondensed.woff");
  

body
  background: $gainsboro
  font-family Univers
  font-size: 16px
  color $darkgray !important

.gainsboro
  background $gainsboro !important

.brown
  background $brown !important

.lightseagreen
  background $lightseagreen !important

.darkgray
  background $darkgray !important

.footergray
  background $footergray !important

.yellow
  background $yellow !important

.green
  background $green !important

.red
  background $red !important

.color-gainsboro
  color: $gainsboro !important

.color-black
  color $black !important

.color-brown
  color $brown !important

.color-lightseagreen
  color $lightseagreen !important

.color-darkgray
  color $darkgray !important

.color-lightgray
  color $lightgray !important

.color-yellow
  color $yellow !important

.color-white
  color $white !important

.color-green
  color $green !important

.color-red
  color $red !important

.btn,
.btn-large
  background-color $lightseagreen
  
.btn:hover,
.btn-large:hover,
.btn.active
  background-color $lightseagreenOscuro

.font-medium
  font-size: 1.5em

body select
  display inline-block !important