@import '../../../colors.styl'

.service-entity .info
    display flex
    flex-flow row
    padding 10px
.service-entity .badge
    align-self center

.service-entity .badge img
    width 100px
    margin 5px
    margin-bottom 0px

.service-entity .badge .lightseagreen
    padding 5px

.service-entity .service-item-result
    padding 10px
    font-size 28px

.service-entity .service-item-content
    flex-grow 3
    margin-left 5px
    align-self center

.service-entity .service-item-content .color-brown
    font-size: 1.5em

.service-entity .service-item-content .brown
    padding-left 5px

.service-entity .service-item-content .gainsboro
    position relative
    padding-left 5px

.service-entity .service-item-content .action
    cursor pointer
    position absolute
    right 5px
    top 5px

.service-entity .service-item-content .action i
    font-size 40px

.service-entity .star
    position relative
    font-size 55px

.service-entity .star span
    display block
    width 52px
    height 55px
    font-family Univers
    font-size 14px
    position absolute
    top 0px
    left 0px
    text-align center
    line-height 55px

.service-entity .full-rate
    font-size: 1.2em

.service-entity .service-item-rate
    padding 5px 10px
    margin 0px 10px
    
.service-entity .border
    border solid 1px $brown
    border-radius 5px

.service-entity .modal .brown
    padding 15px 15px 0px 15px

.service-entity .requisites requisite
    margin 10px

.service-entity .requisites .btn-floating
    padding 0 25px
    height 50px
    margin 0 -25px

.service-entity .requisites .btn-floating i
    line-height 50px
.service-entity .requisites .btn-floating i.fa-chevron-right
    margin 0 -17px
.service-entity .requisites .btn-floating i.fa-chevron-left
    margin 0 -20px